<nav>
  <div class="logo">
    <h1>EMMEISOFT</h1>
    <span>An inspiration for his own self only</span>
  </div>

  <ul class="main-menus">
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create Blog</a></li>
  </ul>
</nav>