<nav>
  <div>
    <h1>EMMEISOFT</h1>
    <p>An inspiration for his own self only</p>
  </div>

  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create Blog</a></li>
  </ul>
</nav>