<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <main class="error content">
    <h2>About us </h2>
    <p>We work for you and you pay us in return and this is how business happens</p>
  </main>

  <%- include('./partials/footer.ejs') %>
</body>

</html>