<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>

<body>
  <h1>About us</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia commodi fugiat ipsam nesciunt totam voluptas, maxime
    harum esse sequi, illo, corrupti nulla assumenda.</p>
  <p>Tukda Tukda dil hai. yai toh mera dil hai</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At nihil officiis, officia ullam sunt odit ipsa et
    obcaecati veniam soluta. Veniam impedit molestias fuga, vero exercitationem iure quidem quis quos.</p>
</body>

</html>