<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home page</title>
</head>

<body>
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur iure quidem quae ea saepe exercitationem
    mollitia fugit tempore illo vero. Voluptatibus quas quia, deleniti quibusdam temporibus quaerat placeat totam
    dolorem commodi impedit voluptas aliquam magni animi sit laborum quasi corrupti.</p>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat dicta sapiente dolores autem sequi voluptatum.
    Facere, culpa aspernatur explicabo iure doloremque corporis debitis.</p>
  <p>We are on the Home Page !!!</p>
</body>

</html>